{% extends 'MMHStaticBundle::staticlayout.html.twig' %}

{% block title %}Nous soutenir{% endblock %}

{% block metadescription %}Vos dons sont nécessaire au bon fonctionnement de MyMoneyHelp, vous pouvez nous financer sur cette page{% endblock %}

{% block headtitle %}Nous supporter{% endblock %}

{% block section %}

<!-- General wrapper for the content -->
<div class="wrapper-static-content flex">

<!-- Main section on the left with text and image content -->
<section class="static-content-section">
  <h2>Soutenir MyMoneyHelp</h2>
  <p>Notre plateforme est autonome et indépendante. Les frais de fonctionnement sont couverts très majoritairement par vos dons.<br><br>
      Alors aidez-nous à développer la plateforme MyMoneyHelp</p>
  <div class="contribute">
      <a href="#" class="button backup-button">Faire un don</a>
  </div>

  <h2>Adhérer à MyMoneyHelp</h2>
  <p>MyMoneyHelp met en pratique le concept « d’Innovation frugale » et utilise des moyens très modestes pour faire fonctionner le site et organiser régulièrement des manifestations de soutien aux Entrepreneurs Sociaux et Solidaires<br><br>
      Si vous souhaitez régulièrement suivre et participer à nos manifestations n’hésitez pas à adhérer</p>

  <div class="contribute">
      <a href="#" class="button join-button">Nous rejoindre</a>
  </div>

  {% endblock %}
